@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Chromate-Regular';
  src: url('/fonts/Chromate-Regular.ttf') format('truetype');
        font-weight: 500;
        font-display: swap;
        font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk-Regular';
  src: url('/fonts/CabinetGrotesk-Regular.ttf') format('truetype');
        font-weight: 500;
        font-display: swap;
        font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk-Bold';
  src: url('/fonts/CabinetGrotesk-Bold.ttf') format('truetype');
        font-weight: 700;
        font-display: swap;
        font-style: normal;
}
  
html, body {
    background-color: #131313;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #131313; 
}
 
::-webkit-scrollbar-thumb {
  background: #131313; 
}

.bw-overlay {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: .3s ease;
}

.bw-overlay:hover {
  filter: none;
}
